.mobile-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    height: 100vh;
    background-color: #f4f4f9;
  
    .mobile-header {
      background-color: #003366;
      color: white;
      text-align: center;
      padding: 10px;
    }
  
    .mobile-content {
      flex: 1;
      padding: 10px;
      overflow-y: auto;
  
      .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0; /* Add spacing around the image */
  
        .profit-image {
          width: 100%; /* Maintain width for better appearance */
          max-width: 400px; /* Constrain to a maximum width for mobile devices */
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;
        }
      }
    }
  }
  