/* style.scss */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Common Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.login-box {
  width: 90%;
  max-width: 375px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Specific Styles for Sign-Up Page */
.sign-up-container {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.sign-up-box {
  border: 2px solid #ff7e5f;
}

/* Specific Styles for Forgot Password Page */
.forgot-password-container {
  background: linear-gradient(to right, #76b852, #8dc26f);
}

.forgot-password-box {
  border: 2px solid #76b852;
}
