.mobile-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
  overflow: hidden;
  background-color: #121212;
}

.task-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.tab {
  flex: 1;
  padding: 10px 15px;
  text-align: center;
  background-color: #1c1c1c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: bold;
}

.tab.active {
  background-color: #007bff;
  color: white;
}


.task-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #142850;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 7px;
  cursor: pointer;
}

.task-icon-container {
  display: flex;
  flex-direction: column; /* Stack icon and status vertically */
  align-items: center; /* Center align icon and status */
  justify-content: center;
  margin-left: 15px; /* Space between icon container and task details */
}

.task-category {
  font-size: 14px;
  color: #ffffff; /* White text for task category */
  margin-top: 5px; /* Space between icon and category */
}

.task-status {
  font-size: 14px;
  color: #ffffff; /* White text for status */
  margin-top: 5px; /* Space between icon and status */
}

.task-icon {
  font-size: 24px;
  color: #007bff;
}

.task-details {
  display: flex;
  justify-content: space-evenly;
  flex: 1; /* Allow task details to expand */
  color: #ffffff;
}

.task-details h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.task-info {
  display: flex;
  flex-direction: row; /* Arrange pay info horizontally */
  align-items: center;
  gap: 10px; /* Add spacing between pay info */
}

.task-details p {
  font-size: 14px;
  color: white;
}

.task-info p {
  margin: 0;
  font-size: 14px;
  color: #e0e0e0;
}

.task-info strong {
  color: #ffffff; /* Highlight labels */
}

.task-actions .submit-btn {
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.task-actions .submit-btn:hover {
  background-color: #0056b3;
}

.no-task-card {
  opacity: 0.9;
  background-color: #f8f9fa;
  color: #121212;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
}

.loading-card p {
  font-size: 16px;
  color: #888;
}

